/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/funcscan Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // Input options
    input                                                   = null

    // MultiQC options
    multiqc_config                                          = null
    multiqc_title                                           = null
    multiqc_logo                                            = null
    max_multiqc_email_size                                  = '25.MB'
    multiqc_methods_description                             = null

    // Boilerplate options
    outdir                                                  = null
    publish_dir_mode                                        = 'copy'
    email                                                   = null
    email_on_fail                                           = null
    plaintext_email                                         = false
    monochrome_logs                                         = false
    hook_url                                                = null
    help                                                    = false
    help_full                                               = false
    show_hidden                                             = false
    version                                                 = false
    pipelines_testdata_base_path                            = 'https://raw.githubusercontent.com/nf-core/test-datasets/'
    trace_report_suffix                                     = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
    // Config options

    // Taxonomy classification options
    run_taxa_classification                                 = false
    taxa_classification_tool                                = 'mmseqs2'
    taxa_classification_mmseqs_compressed                   = 0

    taxa_classification_mmseqs_db                           = null
    taxa_classification_mmseqs_db_id                        = 'Kalamari'
    taxa_classification_mmseqs_db_savetmp                   = false

    taxa_classification_mmseqs_taxonomy_savetmp             = false
    taxa_classification_mmseqs_taxonomy_searchtype          = 2
    taxa_classification_mmseqs_taxonomy_lcaranks            = 'kingdom,phylum,class,order,family,genus,species'
    taxa_classification_mmseqs_taxonomy_taxlineage          = 1
    taxa_classification_mmseqs_taxonomy_sensitivity         = 5.0
    taxa_classification_mmseqs_taxonomy_orffilters          = 2.0
    taxa_classification_mmseqs_taxonomy_lcamode             = 3
    taxa_classification_mmseqs_taxonomy_votemode            = 1

    // Annotation options
    annotation_tool                                         = 'pyrodigal'
    save_annotations                                        = false

    annotation_prodigal_singlemode                          = false
    annotation_prodigal_closed                              = false
    annotation_prodigal_transtable                          = 11
    annotation_prodigal_forcenonsd                          = false

    annotation_pyrodigal_singlemode                         = false
    annotation_pyrodigal_closed                             = false
    annotation_pyrodigal_transtable                         = 11
    annotation_pyrodigal_forcenonsd                         = false
    annotation_pyrodigal_usespecialstopcharacter            = false

    annotation_bakta_db                                     = null
    annotation_bakta_db_downloadtype                        = 'full'
    annotation_bakta_singlemode                             = false
    annotation_bakta_mincontiglen                           = 1
    annotation_bakta_translationtable                       = 11
    annotation_bakta_gram                                   = '?'
    annotation_bakta_complete                               = false
    annotation_bakta_renamecontigheaders                    = false
    annotation_bakta_compliant                              = false
    annotation_bakta_trna                                   = false
    annotation_bakta_tmrna                                  = false
    annotation_bakta_rrna                                   = false
    annotation_bakta_ncrna                                  = false
    annotation_bakta_ncrnaregion                            = false
    annotation_bakta_crispr                                 = false
    annotation_bakta_skipcds                                = false
    annotation_bakta_pseudo                                 = false
    annotation_bakta_skipsorf                               = false
    annotation_bakta_gap                                    = false
    annotation_bakta_ori                                    = false
    annotation_bakta_activate_plot                          = false
    annotation_bakta_hmms                                   = null

    annotation_prokka_singlemode                            = false
    annotation_prokka_rawproduct                            = false
    annotation_prokka_kingdom                               = 'Bacteria'
    annotation_prokka_gcode                                 = 11
    annotation_prokka_cdsrnaolap                            = false
    annotation_prokka_rnammer                               = false
    annotation_prokka_mincontiglen                          = 1
    annotation_prokka_evalue                                = 0.000001
    annotation_prokka_coverage                              = 80
    annotation_prokka_compliant                             = true
    annotation_prokka_addgenes                              = false
    annotation_prokka_retaincontigheaders                   = false

    // Protein annotation options
    run_protein_annotation                                  = false
    protein_annotation_tool                                 = 'InterProScan'
    protein_annotation_interproscan_db                      = null
    protein_annotation_interproscan_db_url                  = 'https://ftp.ebi.ac.uk/pub/software/unix/iprscan/5/5.72-103.0/interproscan-5.72-103.0-64-bit.tar.gz'
    protein_annotation_interproscan_applications            = 'PANTHER,ProSiteProfiles,ProSitePatterns,Pfam'
    protein_annotation_interproscan_enableprecalc           = false

    // Database downloading options
    save_db                                                 = false

    // AMP options
    run_amp_screening                                       = false

    amp_skip_amplify                                        = false

    amp_skip_macrel                                         = false

    amp_skip_ampir                                          = false
    amp_ampir_model                                         = 'precursor'
    amp_ampir_minlength                                     = 10

    amp_run_hmmsearch                                       = false
    amp_hmmsearch_models                                    = null
    amp_hmmsearch_savealignments                            = false
    amp_hmmsearch_savetargets                               = false
    amp_hmmsearch_savedomains                               = false

    amp_ampcombi_db_id                                      = 'DRAMP'
    amp_ampcombi_db                                         = null
    amp_ampcombi_parsetables_cutoff                         = 0.6
    amp_ampcombi_parsetables_ampir                          = '.ampir.tsv'
    amp_ampcombi_parsetables_amplify                        = '.amplify.tsv'
    amp_ampcombi_parsetables_macrel                         = '.macrel.prediction'
    amp_ampcombi_parsetables_hmmsearch                      = '.hmmer_hmmsearch.txt'
    amp_ampcombi_parsetables_aalength                       = 120
    amp_ampcombi_parsetables_dbevalue                       = 5
    amp_ampcombi_parsetables_hmmevalue                      = 0.06
    amp_ampcombi_parsetables_windowstopcodon                = 60
    amp_ampcombi_parsetables_windowtransport                = 11
    amp_ampcombi_parsetables_removehitswostopcodons         = false
    amp_ampcombi_cluster_covmode                            = 0
    amp_ampcombi_cluster_mode                               = 1
    amp_ampcombi_cluster_coverage                           = 0.8
    amp_ampcombi_cluster_seqid                              = 0.4
    amp_ampcombi_cluster_sensitivity                        = 4.0
    amp_ampcombi_cluster_removesingletons                   = false
    amp_ampcombi_cluster_minmembers                         = 0

    // ARG options
    run_arg_screening                                       = false

    arg_skip_fargene                                        = false
    arg_fargene_hmmmodel                                    = 'class_a,class_b_1_2,class_b_3,class_c,class_d_1,class_d_2,qnr,tet_efflux,tet_rpg,tet_enzyme'
    arg_fargene_savetmpfiles                                = false
    arg_fargene_minorflength                                = 90
    arg_fargene_score                                       = null
    arg_fargene_translationformat                           = 'pearson'
    arg_fargene_orffinder                                   = false

    arg_skip_rgi                                            = false
    arg_rgi_db                                              = null
    arg_rgi_savejson                                        = false
    arg_rgi_savetmpfiles                                    = false
    arg_rgi_alignmenttool                                   = 'BLAST'
    arg_rgi_includeloose                                    = false
    arg_rgi_includenudge                                    = false
    arg_rgi_lowquality                                      = false
    arg_rgi_data                                            = 'NA'
    arg_rgi_split_prodigal_jobs                             = true

    arg_skip_amrfinderplus                                  = false
    arg_amrfinderplus_db                                    = null
    arg_amrfinderplus_identmin                              = -1
    arg_amrfinderplus_coveragemin                           = 0.5
    arg_amrfinderplus_translationtable                      = 11
    arg_amrfinderplus_plus                                  = false
    arg_amrfinderplus_name                                  = false

    arg_skip_deeparg                                        = false
    arg_deeparg_db                                          = null
    arg_deeparg_db_version                                  = 2     // Make sure to update on module version bump!
    arg_deeparg_model                                       = 'LS'
    arg_deeparg_minprob                                     = 0.8
    arg_deeparg_alignmentidentity                           = 50
    arg_deeparg_alignmentevalue                             = 1e-10
    arg_deeparg_alignmentoverlap                            = 0.8
    arg_deeparg_numalignmentsperentry                       = 1000

    arg_skip_abricate                                       = false
    arg_abricate_db_id                                      = 'ncbi'
    arg_abricate_db                                         = null
    arg_abricate_minid                                      = 80
    arg_abricate_mincov                                     = 80

    arg_hamronization_summarizeformat                       = 'tsv'

    arg_skip_argnorm                                        = false

    // BGC options
    run_bgc_screening                                       = false

    bgc_mincontiglength                                     = 3000
    bgc_savefilteredcontigs                                 = false

    bgc_skip_antismash                                      = false
    bgc_antismash_db                                        = null
    bgc_antismash_installdir                                = null
    bgc_antismash_cbgeneral                                 = false
    bgc_antismash_cbknownclusters                           = false
    bgc_antismash_cbsubclusters                             = false
    bgc_antismash_smcogtrees                                = false
    bgc_antismash_ccmibig                                   = false
    bgc_antismash_contigminlength                           = 3000
    bgc_antismash_hmmdetectionstrictness                    = 'relaxed'
    bgc_antismash_pfam2go                                   = false
    bgc_antismash_rre                                       = false
    bgc_antismash_taxon                                     = 'bacteria'
    bgc_antismash_tfbs                                      = false

    bgc_skip_deepbgc                                        = false
    bgc_deepbgc_db                                          = null
    bgc_deepbgc_score                                       = 0.5
    bgc_deepbgc_prodigalsinglemode                          = false
    bgc_deepbgc_mergemaxproteingap                          = 0
    bgc_deepbgc_mergemaxnuclgap                             = 0
    bgc_deepbgc_minnucl                                     = 1
    bgc_deepbgc_minproteins                                 = 1
    bgc_deepbgc_mindomains                                  = 1
    bgc_deepbgc_minbiodomains                               = 0
    bgc_deepbgc_classifierscore                             = 0.5

    bgc_skip_gecco                                          = false
    bgc_gecco_cds                                           = 3
    bgc_gecco_threshold                                     = 0.8
    bgc_gecco_pfilter                                       = 0.000000001
    bgc_gecco_edgedistance                                  = 0
    bgc_gecco_mask                                          = false

    bgc_run_hmmsearch                                       = false
    bgc_hmmsearch_models                                    = null
    bgc_hmmsearch_savealignments                            = false
    bgc_hmmsearch_savetargets                               = false
    bgc_hmmsearch_savedomains                               = false

    // Config options
    config_profile_name                                     = null
    config_profile_description                              = null

    custom_config_version                                   = 'master'
    custom_config_base                                      = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact                                  = null
    config_profile_url                                      = null

    // Schema validation default options
    validate_params                                         = true
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

profiles {
    debug {
        dumpHashes                                      = true
        process.beforeScript                            = 'echo $HOSTNAME'
        cleanup                                         = false
        nextflow.enable.configProcessNamesValidation    = true
    }
    conda {
        conda.enabled        = true
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
        conda.channels       = ['conda-forge', 'bioconda']
        apptainer.enabled    = false
    }
    mamba {
        conda.enabled        = true
        conda.useMamba       = true
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
        apptainer.enabled    = false
    }
    docker {
        docker.enabled       = true
        conda.enabled        = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
        apptainer.enabled    = false
        docker.runOptions    = '-u $(id -u):$(id -g)'
    }
    arm {
        docker.runOptions = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        conda.enabled          = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    podman {
        podman.enabled       = true
        conda.enabled        = false
        docker.enabled       = false
        singularity.enabled  = false
        shifter.enabled      = false
        charliecloud.enabled = false
        apptainer.enabled    = false
    }
    shifter {
        shifter.enabled      = true
        conda.enabled        = false
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        charliecloud.enabled = false
        apptainer.enabled    = false
    }
    charliecloud {
        charliecloud.enabled = true
        conda.enabled        = false
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        apptainer.enabled    = false
    }
    apptainer {
        apptainer.enabled    = true
        apptainer.autoMounts = true
        conda.enabled        = false
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
    }
    wave {
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    gitpod {
        executor.name   = 'local'
        executor.cpus   = 4
        executor.memory = 8.GB
        process {
            resourceLimits = [
                memory: 8.GB,
                cpus: 4,
                time: 1.h,
            ]
        }
    }
    test {
        includeConfig 'conf/test.config'
    }
    test_bakta {
        includeConfig 'conf/test_bakta.config'
    }
    test_prokka {
        includeConfig 'conf/test_prokka.config'
    }
    test_bgc_bakta {
        includeConfig 'conf/test_bgc_bakta.config'
    }
    test_bgc_prokka {
        includeConfig 'conf/test_bgc_prokka.config'
    }
    test_bgc_pyrodigal {
        includeConfig 'conf/test_bgc_pyrodigal.config'
    }
    test_taxonomy_bakta {
        includeConfig 'conf/test_taxonomy_bakta.config'
    }
    test_taxonomy_prokka {
        includeConfig 'conf/test_taxonomy_prokka.config'
    }
    test_taxonomy_pyrodigal {
        includeConfig 'conf/test_taxonomy_pyrodigal.config'
    }
    test_full {
        includeConfig 'conf/test_full.config'
    }
    test_minimal {
        includeConfig 'conf/test_minimal.config'
    }
    test_preannotated {
        includeConfig 'conf/test_preannotated.config'
    }
    test_preannotated_bgc {
        includeConfig 'conf/test_preannotated_bgc.config'
    }
}

// Load nf-core custom profiles from different Institutions
includeConfig !System.getenv('NXF_OFFLINE') && params.custom_config_base ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"

// Load nf-core/funcscan custom profiles from different institutions.
includeConfig !System.getenv('NXF_OFFLINE') && params.custom_config_base ? "${params.custom_config_base}/pipeline/funcscan.config" : "/dev/null"

// Set default registry for Apptainer, Docker, Podman, Charliecloud and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Charliecloud / Singularity are enabled
// Set to your registry if you have a mirror of containers
apptainer.registry = 'quay.io'
docker.registry = 'quay.io'
podman.registry = 'quay.io'
singularity.registry = 'quay.io'
charliecloud.registry = 'quay.io'

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Set bash options
process.shell = [
    "bash",
    "-C",         // No clobber - prevent output redirection from overwriting files.
    "-e",         // Exit if a tool returns a non-zero status/exit code
    "-u",         // Treat unset variables and parameters as an error
    "-o",         // Returns the status of the last command to exit..
    "pipefail"    //   ..with a non-zero status or zero if all successfully execute
]

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}

manifest {
    name            = 'nf-core/funcscan'
    author          = """Jasmin Frangenberg, Anan Ibrahim, Louisa Perelo, Moritz E. Beber, James A. Fellows Yates"""
    // The author field is deprecated from Nextflow version 24.10.0, use contributors instead
    contributors    = [
        [
            name: 'Jasmin Frangenberg',
            affiliation: 'Leibniz Institute for Natural Product Research and Infection Biology Hans Knöll Institute, Jena, Germany',
            email: 'jasmin.frangenberg@leibniz-hki.de',
            github: 'https://github.com/jasmezz',
            contribution: ['author', 'maintainer'],
            orcid: 'https://orcid.org/0009-0004-5961-4709',
        ],
        [
            name: 'Anan Ibrahim',
            affiliation: 'Leibniz Institute for Natural Product Research and Infection Biology Hans Knöll Institute, Jena, Germany',
            email: '',
            github: 'https://github.com/darcy220606',
            contribution: ['author', 'maintainer'],
            orcid: 'https://orcid.org/0000-0003-3719-901X',
        ],
        [
            name: 'Louisa Perelo',
            affiliation: 'Quantitative Biology Center (QBiC), University of Tübingen, Tübingen, Germany',
            email: '',
            github: 'https://github.com/louperelo',
            contribution: ['author', 'contributor'],
            orcid: 'https://orcid.org/0000-0002-7307-062X',
        ],
        [
            name: 'Moritz E. Beber',
            affiliation: 'Unseen Bio ApS, Copenhagen, Denmark',
            email: '',
            github: 'Midnighter',
            contribution: ['author', 'contributor'],
            orcid: 'https://orcid.org/0000-0003-2406-1978',
        ],
        [
            name: 'James A. Fellows Yates',
            affiliation: 'Leibniz Institute for Natural Product Research and Infection Biology Hans Knöll Institute, Jena, Germany; Max Planck Institute for Evolutionary Anthropology, Leipzig, Germany',
            email: '',
            github: 'https://github.com/jfy133',
            contribution: ['author', 'maintainer'],
            orcid: 'https://orcid.org/0000-0001-5585-6277',
        ],
        [
            name: 'Vedanth Ramji',
            affiliation: 'Queensland University of Technology, Brisbane, Australia',
            email: '',
            github: 'https://github.com/Vedanth-Ramji',
            contribution: ['contributor'],
            orcid: 'https://orcid.org/0009-0001-5311-7611',
        ],
    ]
    homePage        = 'https://github.com/nf-core/funcscan'
    description     = """Pipeline for screening for functional components of assembled contigs"""
    mainScript      = 'main.nf'
    defaultBranch   = 'master'
    nextflowVersion = '!>=24.04.2'
    version         = '2.1.0'
    doi             = '10.5281/zenodo.7643099'
}

// Nextflow plugins
plugins {
    id 'nf-schema@2.3.0' // Validation of pipeline parameters and creation of an input channel from a sample sheet
}

validation {
    defaultIgnoreParams = ["genomes"]
    monochromeLogs      = params.monochrome_logs
    help {
        enabled             = true
        command             = "nextflow run nf-core/funcscan -profile <docker/singularity/.../institute> --input samplesheet.csv --outdir <OUTDIR>"
        fullParameter       = "help_full"
        showHiddenParameter = "show_hidden"
        beforeText          = """
-\033[2m----------------------------------------------------\033[0m-
                                        \033[0;32m,--.\033[0;30m/\033[0;32m,-.\033[0m
\033[0;34m        ___     __   __   __   ___     \033[0;32m/,-._.--~\'\033[0m
\033[0;34m  |\\ | |__  __ /  ` /  \\ |__) |__         \033[0;33m}  {\033[0m
\033[0;34m  | \\| |       \\__, \\__/ |  \\ |___     \033[0;32m\\`-._,-`-,\033[0m
                                        \033[0;32m`._,._,\'\033[0m
\033[0;35m  nf-core/funcscan ${manifest.version}\033[0m
-\033[2m----------------------------------------------------\033[0m-
"""
        afterText           = """${manifest.doi ? "\n* The pipeline\n" : ""}${manifest.doi.tokenize(",").collect { "    https://doi.org/${it.trim().replace('https://doi.org/', '')}" }.join("\n")}${manifest.doi ? "\n" : ""}
* The nf-core framework
    https://doi.org/10.1038/s41587-020-0439-x

* Software dependencies
    https://github.com/nf-core/funcscan/blob/master/CITATIONS.md
"""
    }
    summary {
        beforeText = validation.help.beforeText
        afterText  = validation.help.afterText
    }
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'
