/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/funcscan -profile test_deeparg,<docker/singularity> --outdir <OUTDIR>

    This executes DeepARG separately due to regular flakiness in database download server

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'DeepARG test profile'
    config_profile_description = 'Minimal test dataset to check DeepARG ARG screening function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input                  = 'https://raw.githubusercontent.com/nf-core/test-datasets/funcscan/samplesheet.csv'

    annotation_tool        = 'prodigal'

    run_arg_screening      = true
    arg_skip_fargene       = true
    arg_skip_rgi           = true
    arg_skip_amrfinderplus = true
    arg_skip_deeparg       = false

    run_amp_screening = false
    run_bgc_screening = false
}
