/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/funcscan -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

cleanup = true

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data for full size test
    input = 'https://raw.githubusercontent.com/nf-core/test-datasets/funcscan/samplesheet_full.csv'

    // Database and annotation options
    save_annotations                = true

    // AMP params
    run_amp_screening               = true
    amp_hmmsearch_models = 'https://raw.githubusercontent.com/nf-core/test-datasets/funcscan/hmms/mybacteriocin.hmm'
    amp_hmmsearch_savealignments    = true
    amp_hmmsearch_savedomains       = true
    amp_hmmsearch_savetargets       = true

    // ARG params
    run_arg_screening               = true
    arg_fargene_savetmpfiles        = true
    // Skip DeepARG has to be activated, because the database download is not working
    // DeepARG developers have been contacted on preview of fixing download and possibility of depositing db in another repo
    arg_skip_deeparg                = true
    //TODO: arg_deeparg_data = 'path/to/deeparg/database'

    // BGC params
    run_bgc_screening               = true
    bgc_hmmsearch_models = 'https://raw.githubusercontent.com/antismash/antismash/fd61de057e082fbf071732ac64b8b2e8883de32f/antismash/detection/hmm_detection/data/ToyB.hmm'
    bgc_hmmsearch_savealignments    = true
    bgc_hmmsearch_savetargets       = true
    bgc_hmmsearch_savedomains       = true
    bgc_skip_deepbgc                = true // takes too long

}
