/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/funcscan -profile test_taxonomy_pyrodigal,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Taxonomic classification test profile'
    config_profile_description = 'Minimal test dataset to check taxonomic classification workflow function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '8.GB'
    max_time   = '6.h'

    // Input data
    input                   = 'https://raw.githubusercontent.com/nf-core/test-datasets/funcscan/samplesheet_reduced.csv'
    bgc_hmmsearch_models    = 'https://raw.githubusercontent.com/antismash/antismash/fd61de057e082fbf071732ac64b8b2e8883de32f/antismash/detection/hmm_detection/data/ToyB.hmm'
    amp_hmmsearch_models    = 'https://raw.githubusercontent.com/nf-core/test-datasets/funcscan/hmms/mybacteriocin.hmm'

    annotation_tool         = 'pyrodigal'

    run_taxa_classification = true

    run_arg_screening       = true
    arg_skip_deeparg        = true
    arg_skip_amrfinderplus  = true

    run_amp_screening       = true

    run_bgc_screening       = true
    bgc_skip_deepbgc        = true
}
