/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/funcscan -profile test_pyrodigal,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'AMP/ARG Pyrodigal test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '8.GB'
    max_time   = '6.h'

    // Input data
    input                = params.pipelines_testdata_base_path + 'funcscan/samplesheet_reduced.csv'
    annotation_tool      = 'pyrodigal'

    run_arg_screening    = true
    arg_fargene_hmmmodel = 'class_a,class_b_1_2'
    bgc_antismash_databases = "/home/jfrangen/miniconda3/envs/antismash710/lib/python3.10/site-packages/antismash/databases"
    bgc_antismash_installationdirectory = "/home/jfrangen/miniconda3/envs/antismash710/lib/python3.10/site-packages/antismash"
    bgc_deepbgc_database = "/home/jfrangen/deepbgc_db/"
    annotation_bakta_db_localpath = "/home/jfrangen/bakta-db-light/"
    arg_deeparg_data = "/home/jfrangen/deeparg_db/"
    arg_amrfinderplus_db = "/home/jfrangen/bakta-db-light/amrfinderplus-db/2024-01-31.1/"
    arg_rgi_database = "/home/jfrangen/rgi_db/"

    run_amp_screening    = true
    amp_hmmsearch_models = params.pipelines_testdata_base_path + 'funcscan/hmms/mybacteriocin.hmm'
}
