/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/funcscan -profile test_preannotated_dbcan,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'CAZyme test profile - preannotated input'
    config_profile_description = 'Minimal test dataset to check CAZyme workflow function'

    // Input data
    input                      = params.pipelines_testdata_base_path + 'funcscan/samplesheet_preannotated.csv'

    annotation_tool            = 'pyrodigal'

    run_arg_screening          = false
    run_amp_screening          = false
    run_bgc_screening          = false
    run_dbcan_screening        = true

    dbcan_skip_cgc             = true   // Skip cgc annotation as .gbk (not .gff) is provided in samplesheet
    dbcan_skip_substrate       = true   // Skip substrate annotation as .gbk (not .gff) is provided in samplesheet
}
