/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Although in this case we turn everything off

    Use as follows:
        nextflow run nf-core/funcscan -profile test_minimal,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Minimal test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input                      = params.pipelines_testdata_base_path + 'funcscan/samplesheet_reduced.csv'
    amp_hmmsearch_models       = params.pipelines_testdata_base_path + 'funcscan/hmms/mybacteriocin.hmm'
    bgc_hmmsearch_models       = 'https://raw.githubusercontent.com/antismash/antismash/fd61de057e082fbf071732ac64b8b2e8883de32f/antismash/detection/hmm_detection/data/ToyB.hmm'

    annotation_tool            = 'pyrodigal'

    run_arg_screening          = false
    run_amp_screening          = false
    run_bgc_screening          = false

    arg_fargene_hmmmodel       = 'class_a,class_b_1_2'

    amp_skip_amplify           = true
    amp_skip_macrel            = true
    amp_skip_ampir             = true
    amp_run_hmmsearch          = false

    arg_skip_deeparg           = true
    arg_skip_fargene           = true
    arg_skip_rgi               = true
    arg_skip_amrfinderplus     = true
    arg_skip_deeparg           = true
    arg_skip_abricate          = true

    bgc_skip_antismash         = true
    bgc_skip_deepbgc           = true
    bgc_skip_gecco             = true
    bgc_run_hmmsearch          = false
}
